.NEWSpart img{
    width: 380px;
    height: 350px;
  }
 
  .NEWSpart img:hover{
    opacity: .7;
    cursor: pointer;
  }
 .NEWSpart .cardnews{
    margin-right: 20px;
    border-radius: 15px;
    background-color: none;
    font-family: 'Montserrat', sans-serif !important;

  
  }
  #textnews{
    font-family: 'Montserrat', sans-serif !important;
    font-weight:800;
  }
  .NEWSpart{
    font-family: 'Montserrat', sans-serif !important;

  }
 .NEWSpart .cardbody{
    border-radius: 15px;
    background-color: none;
    font-family: 'Montserrat', sans-serif !important;

  
  }
  @media(max-width:900px){
    .NEWSpart{
      height: 90rem;
    }
  }